
/*Padrão GEral*/
:root {
  --primary: #1f4fa3;
  --azul-claro: #3366CC;
  --primary-dark: #173d80;
  --primary-soft: #eef4ff;
  --text: #1d2b4f;
  --muted: #6d7a96;
  --line: #e6ebf3;
  --bg-soft: #f6f8fc;
  --white: #ffffff;
  --shadow: 0 10px 30px rgba(17, 35, 77, 0.08);
  --radius: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text);
  background: var(--white);
  line-height: 1.5;
  min-height: 100vh;

    display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
a {
  text-decoration: none;
  color: inherit;
}

select {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
